# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.spec

# Capture files
captures/
data/pcaps/*.pcap
data/pcaps/
data/reports/*.json
data/reports/

# Environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log