# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.spec

# Capture files
captures/
data/pcaps/*.pcap

# Report files
data/reports/*.json

# Environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db